.container {
}

.bar {
  width: 100%;
  height: 6px;
  background: #3182ce;
}

.textMuted {
  font-weight: bolder;
  color: #2a4365 !important;
}

.textColor {
  color: #2b6cb0;
}

.dropShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boldText {
    font-weight: bolder;
}