.container {
}

.bar {
  width: 100%;
  height: 6px;
  background: #3182ce;
}

.textMuted {
  font-weight: bolder;
  color: #2a4365 !important;
}

.textColor {
  color: #2b6cb0;
}

.dropShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.copy p {
  color: #2b6cb0 !important;
}

/* .gg:before {
  content: counters(item, ".") " ";
  counter-increment: item;
} */

OL {
  counter-reset: item;
}
LI {
  display: block;
}
LI:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

label {
  color: #2a4365 !important;
  font-weight: 700 !important;
}

input {
  color: #2a4365 !important;
  font-weight: 700 !important;
}

/* with the :focus here, we would show grey when not using the element */
select {
  color: #2b6db0 !important;
}
/* with the :focus here, we show grey when using the element */
select:focus {
  color: #2b6db0 !important;
}
option:not(:first-of-type) {
  color: #2b6db0 !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2b6db0 !important;
  font-weight: 700;
  opacity: 1; /* Firefox */
}
